@font-face {
    font-family: 'din-condensed';
    font-style: normal;
    src: url("./assets/fonts/DINPro-CondensedRegular.ttf");
    font-weight: 300;
  }

@font-face {
    font-family: 'din-condensed-bold';
    src: url("assets/fonts/DINPro-CondensedBold.ttf");
    font-weight: 300;
}  

html {
    scroll-behavior: smooth; 
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'din-condensed';
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
  }

.nav-link {
    padding: 0 20px;
    line-height: 50px;
    transition: .3s;
    text-decoration: none;
}  

.nav-link:hover {
    padding: 5px 20px;
    background-color: rgb(118, 187, 255);
    line-height: 50px;
    transition: .3s;
    text-decoration: none;
}   

.nav-link::after {
    content: "";
    position: absolute;
    left: 12px;
    bottom: -5px;
    width: calc(100% - 24px);
    height: 2px;
    background-color: #fff;
    opacity: 0;
    transition: .5s;
}


.section-item a {
  color: #829985;
  text-decoration: none;  
  transition: color 0.5s;
}
.section-item a:hover {
  color: #4d2323;
}
