@font-face {
    font-family: 'din-condensed';
    font-style: normal;
    src: url("./assets/fonts/DINPro-CondensedRegular.ttf");
    font-weight: 300;
  }

@font-face {
    font-family: 'din-condensed-bold';
    src: url("assets/fonts/DINPro-CondensedBold.ttf");
    font-weight: 300;
}  

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'din-condensed';
}

* {
    box-sizing: border-box;
}